* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif; /* Change this to any desired font */
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .custom-container {
    background-color: rgb(43, 43, 43);
    width: 500px; /* Match your preferred width */
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 60px 40px;
    text-align: center;
    position: relative;
  }
  
  .back-btn {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 20px; /* Move to the right */
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
  }
  
  .subtext{
    font-size: 1rem;
    font-weight: bold;
  }
  
  .form-group label {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .form-control {
    background-color: #444;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .icon {
    position: absolute;
    left: -25px; /* Adjusted for better icon positioning */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
  }
  
  .submit-btn {
    background-color: #ff0000; /* Updated to match the button color theme */
    color: white;
    font-size: 20px; /* Increased font size */
    font-weight: bold; /* Made it bold */
    padding: 14px; /* Increased padding for a larger button */
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease; /* Optional: Add a transition effect */
  }
  
  .submit-btn:hover {
    background-color: #700000; /* Optional: Darker shade on hover */
  }
  
  .social-buttons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
  }
  